body {
    font-family: 'Montserrat', sans-serif;
    min-width: 19rem;
    color: #1d1d1d;
}

img {
    max-width: 100%;
    max-height: auto;
}

section {
    padding: 6.25rem 0;
}

h3 {
    font-style: italic;
    font-size: 2.6rem;
    font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
}

h4 {
    font-weight: 600;
    font-size: 2.75rem;
    margin-bottom: 2rem;
}

/* =============================header============================== */
.main-header {
    background: url(../img/main.jpg) center no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 43.75rem;
    position: relative;
}

.main-header .navbar-toggler {
    color: #fff;
}

.main-header .navbar-brand,
.main-header ul li a {
    color: #fff;
    font-weight: 600;
}

.main-header .navbar-brand {
    font-size: 2.5rem;
}

.main-header ul li a {
    font-size: 1rem;
}

.main-header ul li a::after {
    content: '';
    display: block;
    width: 100%;
    background-color: #fff;
    height: 1px;
    transform: scale(0);
    transition: all .3s;
}

.main-header ul li a:hover::after {
    transform: scale(1);
}

.main-header-text {
    position: absolute;
    top: 25%;
    left: 5%;
    max-width: 37.5rem;
    color: #fff;
    padding: 1.25rem;
}

.main-header-buttons {
    padding-left: 1.9rem;
}

.btn {
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}

.main-header-buttons .btn {
    height: 3.75rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin-right: 1.25rem;
    margin-top: 1.9rem;
    opacity: .8;
    box-shadow: 0 .25rem 1rem rgba(0, 0, 0, .35);
    transition: all .5s;
}

.main-header-buttons .btn:hover {
    color: #fff;
    opacity: 1;
}

.btn-pink {
    background-color: #f42267;
}

.btn-violet {
    background-color: #69328e;
}


/* =============================.section-watch============================== */
.section-watch {
    background: url(../img/world_map.png) center no-repeat;
    background-size: cover;
}

.section-watch h3,
.section-watch h4 {
    color: #484848;
}

.section-tabs .nav-pills {
    margin-bottom: 1.25rem;
}

.section-tabs .nav-pills .nav-link {
    font-size: .8rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: .87rem 1.9rem;
    color: #484848;
}

.section-tabs .nav-pills .nav-item .nav-link.active {
    background-color: #f42267;
    color: #fff;
    box-shadow: 0 .25rem 1rem rgba(0, 0, 0, .35);
}

.btn-shadow {
    box-shadow: 0 .6rem 0 #ff5990;
    border-radius: .6rem;
    padding: .6rem 1.55rem;
    transition: all .5s;
}

.btn-shadow:hover {
    box-shadow: 0 0.3rem 0 #ff5990;
    color: #fff;
    background-color: #da1757;
}

/* =============================section-progress============================== */
.section-progress {
    background-color: #4b2d7f;
    color: #fff;
    font-size: 1rem;
    padding: 0;
}

.section-progress i {
    font-size: 4.4rem;
}

.section-progress .num {
    font-size: 3.1rem;
    font-weight: 600;
    margin: 1.9rem 0 1.25rem;
}

.section-progress h4 {
    font-size: 1.9rem;
    height: 4.5rem;
    overflow: hidden;
}

.section-progress .progress-item {
    padding-top: 5rem;
    padding-bottom: 5rem;
    transition: all .5s;
}

.section-progress .progress-item:hover {
    background-color: #40286a;
}

/* =============================section-lets============================== */
.section-lets {
    background: url(../img/letsgrow.jpg) center no-repeat;
    background-size: cover;
    color: #fff;
}

/* =============================section-design============================== */
.section-design h3,
.section-design h4 {
    color: #484848;
}

.section-design h3 {
    font-size: 2rem;
}

.section-design span i {
    font-size: 3.75rem;
    background: linear-gradient(45deg, rgba(255, 0, 32, .7) 0%, rgba(68, 26, 130, .8) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 1rem;
}

.section-design h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #484848;
    margin: .6rem 0;
}

.section-design p {
    font-size: .9rem;
}

.embed-responsive {
    position: relative;
    border-radius: .6rem;
}

#videoPlayBtn {
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: absolute;
    top: 0;
    cursor: pointer;
    background: url(../img/play.png) center no-repeat;
}

/* =============================section-work============================== */
.section-work {
    background-color: #f1f1f1;
}

.section-work .nav-pills {
    margin: 1.9rem 0;
}

.gallery-item {
    margin-bottom: 1.25rem;
}

.gallery a img {
    transition: all .5s;
}

.gallery a:hover img {
    box-shadow: 0 .9rem 1.9rem -1rem rgba(0, 0, 0, .75);
}


/* =============================section-reviews============================== */
.section-reviews {
    background: url(../img/reviews_bg.jpg) center no-repeat;
    background-size: cover;
    padding-top: 1.25rem;
    padding-bottom: 0;
}

.section-reviews .carousel-caption {
    top: 5%;
    bottom: auto;
    text-align: left;
}

.section-reviews .blockquote {
    font-style: italic;
    font-weight: 500;
    font-size: 1.4rem;
    position: relative;
    padding-left: 2.5rem;
    margin-top: 4.4rem;
}

.section-reviews .blockquote::before {
    content: '\201C';
    font-size: 9.4rem;
    color: #f42267;
    position: absolute;
    top: -5rem;
    left: -2rem;
}


/* =============================section-form============================== */
.section-form {
    background: url(../img/form_bg.jpg) center no-repeat;
    background-size: cover;
    color: #fff;
}

.section-form h5 {
    font-size: 1.9rem;
    font-weight: 600;
    margin-bottom: 1.25rem;
}

.section-form form {
    margin-top: 3.1rem;
}

.section-form .btn-violet {
    background-color: #4b2d7f;
}

.btn-violet.btn-shadow {
    box-shadow: 0 .5rem 0px #a57ee9;
}

.btn-violet.btn-shadow:hover {
    background: #3a2362;
    box-shadow: 0 .3rem 0px #a57ee9;
}

.section-form .form-control {
    height: 3.2rem;
    background-color: rgba(255, 255, 255, .35);
    color: #fff;
    border: 0;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin-bottom: 1.25rem;
}

.section-form .form-control::placeholder {
    color: #fff;
}

.section-form .form-control:focus {
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}


/* =============================.footer============================== */
.footer {
    background: url(../img/world_map.png) center no-repeat;
    background-size: cover;
    padding: 6.25rem 0;
    font-family: 'Poppins', sans-serif;
}

.footer h5 {
    font-size: 1.5rem;
    color: #4b2d7f;
    font-weight: 700;
}

.footer ul {
    list-style: none;
    padding-left: .62rem;
}

.footer ul li a {
    font-size: 1rem;
    font-weight: 600;
    color: #171717;
}

.footer-images img {
    margin-bottom: 1.25rem;
    border-radius: 1rem;
}

.copyright {
    background-color: #f6f6f6;
    padding: 3.1rem 0;
    font-family: 'Poppins', sans-serif;
}

.copyright a,
.copyright span {
    color: #171717;
    font-size: 1.12rem;
    font-weight: 600;
    position: relative;
}

.copyright a:hover {
    text-decoration: underline;
}

.copyright li a::after,
.copyright li span::after {
    content: '\00B7';
    position: absolute;
    right: -.2rem;
}

.copyright li:last-child a::after,
.copyright li:last-child span::after {
    content: '';
}


/* ============================= scrollToTop btn ============================== */
.scrollToTop {
    position: fixed;
    bottom: 2.75rem;
    right: 2.12rem;
    border-radius: 1.6rem;
    display: none;
    font-size: 2rem;
    height: 3.12rem;
    width: 3.12rem;
    z-index: 1001;
    color: #fff;
    transition: all .5s;
    background-color: #da1757;
    border: 0;
    cursor: pointer;
}

.scrollToTop:hover {
    background-color: #fff;
    text-decoration: none;
    outline: none;
    color: #da1757;
    border: 1px solid #da1757;
}


/* ============================= preloader ============================== */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-color: #fefefe;
}




/* =============================.section-content============================== */
.section-content {
    padding: 40px 0;
}

.article-preview {
    border: 1px solid #ccc;
    padding: 1.25rem;
    transition: all .5s;
    margin-bottom: 1.9rem;
}

.article-preview:hover {
    box-shadow: 0 .9rem 1.9rem -1rem rgba(0, 0, 0, .75);
}

.article-preview h2 {
    font-size: 1.25rem;
    margin-bottom: 0;
    font-weight: 600;
}

.article-preview a {
    color: #484848;
    transition: all .5s;
}

.article-preview a:hover {
    color: #f42267;
    text-decoration: none;
}

.article-date {
    color: #da1757;
    font-size: .8rem;
    font-weight: 600;
}

.thumb {
    border: 5px solid #fff;
    box-shadow: 0 0 .62rem rgba(0, 0, 0, .1);
    margin: 0 1.25rem 1.25rem 0;
    float: left;
}

.article-preview .more {
    color: #da1757;
}

.article-preview .more:hover {
    text-decoration: underline;
}

.widget-categories ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.widget-categories ul li::before {
    content: '\f138';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #da1757;
    font-size: .9rem;
}

.widget-categories ul li a {
    padding-left: .62rem;
    font-size: .9rem;
    color: #2f2f2f;
    margin-bottom: .62rem;
    display: inline-block;
    transition: all .5s;

}

.widget-categories ul li a:hover {
    color: #da1757;
}

.widget-title {
    color: #484848;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    position: relative;
}

.widget-title::after {
    content: "";
    height: .12rem;
    position: absolute;
    left: 0;
    top: 1.9rem;
    width: 1.9rem;
    background-color: #da1757;
}

/* =============================.pagination============================== */
.page-link {
    color: #da1757;
    transition: all .5s;
    padding-left: 1rem;
    padding-right: 1rem;
}

.page-link:hover {
    background-color: #da1757;
    color: #fff;
    border-color: #f42267;
}

.page-item.active .page-link {
    background-color: #da1757;
    border-color: #da1757;
}



/* ============================= Media ============================== */


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .main-header-text {
        background-color: rgba(0, 0, 0, .3);
    }

    .main-header .navbar-nav {
        background: linear-gradient(45deg, #ed1b33 0%, #442e82 100%);
        position: relative;
        z-index: 1;
        padding: 0 1rem;
    }

    .main-header ul li a::after {
        display: none;
    }

    section,
    .footer {
        padding: 3.1rem 0;
    }

    .copyright {
        padding: 1.5rem 0;
    }

    .section-reviews h3,
    .section-reviews h4 {
        font-size: 1.5rem;
    }

    .section-reviews .blockquote {
        font-size: 1rem;
        padding-left: 1.25rem;
        margin-top: 2.5rem;
    }

    .section-reviews .blockquote::before {
        font-size: 6.25rem;
        top: -2.5rem;
    }
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .main-header-text {
        left: 0;
        margin: 0 1.25rem;
        max-width: 100%;
    }

    h3,
    h4 {
        font-size: 1.9rem;
    }

    .section-progress .progress-item {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }

    .widget-title::after {
        display: none;
    }
}

@media only screen and (max-width : 600px) {
    .main-header-text {
        top: 5.6rem;
    }

    .main-header-buttons .btn {
        display: block;
        width: 100%;
        margin-bottom: 1rem;
    }

    .main-header-buttons .btn:last-child {
        margin-top: 0;
    }

    .btn-shadow {
        box-shadow: 0 .3rem 0 #ff5990;
        padding: .6rem 1rem;
    }

    .btn-shadow:hover {
        box-shadow: 0 .1rem 0 #ff5990;
    }
}

@media only screen and (max-width : 576px) {
    .section-reviews .carousel-caption {
        position: static;
        width: 70%;
        margin: auto;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .section-tabs .nav-pills .nav-link {
        padding: .5rem 1rem;
    }

    .section-tabs .nav-pills .nav-item {
        width: 100%;
    }

    .thumb {
        float: none;
        width: 100%;
    }
}

@media only screen and (max-width : 380px) {
    .main-header .navbar-brand {
        font-size: 1.9rem;
    }
}